<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>emptycart</name>
	<displayName><![CDATA[Empty Cart]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module adds a button to remove all the cart products.]]></description>
	<author><![CDATA[Jose María Escribano]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
